<% include ./partials/header %>

<div class="item d-flex">
  <div class="d-flex flex-row">
    <div class="picAmt">
        <img class="veggie" src="../images/<%= product['description'] %>.png"/>
        <p>Qty: 21</p>
    </div>
    <div class="d-flex justify-content-start">Tier <%= foodbank['tier'] %></div>

    <div class="d-flex-inline align-items-end">
        <div>Item: </div>
        <div>Vendor: </div>
        <div>FoodBank: </div>
    </div>
    <div class="d-flex-inline align-items-center">
        <div class=""><strong><%= product['description']%></strong></div>
        <div class=""><strong><%= product['vendorname']%></strong></div>
        <div class=""><strong><%= foodbank['foodbankname']%></strong></div>
        <div class=""><strong>Delivery Date: 7/19/2017</strong></div>
        <div class=""><strong>Arrival between 3PM and 5PM</strong></div>


        </div>
    </div>
